/* Flickable wrapper */
.flickable {
    overflow: hidden;
    clear: both;
    position: relative;
}

/* Scrolling container */
.flickable > * {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Flickable items */
.flickable > * > * {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

/* Item indicator wrapper */
.flickableIndicator {
    text-align: center;
    line-height: 12px;
}

/* Item indicator */
.flickableIndicator span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin: 2px 4px;
    background-color: #ccc;
}

/* Active item indicator */
.flickableIndicator span.flickableIndicatorActive {
    background-color: #666;
}