/* Flickable wrapper */
.flickable {
    overflow: hidden;
    clear: both;
    position: relative;
}

/* Scrolling container */
.flickable > * {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Flickable items */
.flickable > * > * {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

/* Item indicator wrapper */
.flickableIndicatorDots {
    text-align: center;
    line-height: 12px;
}

/* Item indicator */
.flickableIndicatorDots span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin: 2px 4px;
    background-color: #ccc;
}

/* Active item indicator */
.flickableIndicatorDots span.flickableIndicatorActive {
    background-color: #666;
}

/* Item indicator wrapper (numbers) */
.flickableIndicatorNumbers {
    text-align: right;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Item indicator */
.flickableIndicatorNumbers span {
     display: inline;
}

/* Caption display */
.flickableIndicatorNumbers div.caption {
    float: left;
}

/* Number display */
.flickableIndicatorNumbers div.number {
    float: right;
}